<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanData - Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>FinanData - Dashboard</h1>
    </header>
    <nav class="text-center">
        <a href="/">Inicio</a>
        <a href="/buscar">Buscar</a>
        <a href="/grafico">Gráficos</a>
        <a href="/opciones">Estudios de Derivados</a>
        <a href="/dashboard">Dashboard</a>
    </nav>
    <div class="container">
        {%app_entry%}
    </div>
    <footer>
        {%config%}
        {%scripts%}
        {%renderer%}
    </footer>
</body>
</html>
